.big-head {
  font-size: 70px;
}

.prez {
  flex: 1 1;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prez-text {
  max-width: 80%;
}