.main-note {
  height: 100%;
  display: grid;
  grid-template-areas:
            "note current"
            "note next"
            "tempo tempo";
  grid-gap: 10px;

  .sub-note {
    grid-area: note;
  }

  .sub-current {
    grid-area: current;

    .current {
      border: 1px solid var(--color-primary);
    }
  }

  .sub-next {
    grid-area: next;
    padding: 50px;

    .next {
      border: 1px solid var(--color-secondary);
    }
  }

  .sub-tempo {
    grid-area: tempo;
    padding: 0;
  }
}