.main-note {
  height: 100%;
  display: grid;
  grid-template-areas:
            "note current"
            "note next"
            "tempo tempo";
  grid-gap: 10px;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto auto 50px;

  .sub-note {
    grid-area: note;
  }

  .sub-current {
    grid-area: current;
    overflow: scroll;
    max-height: 300px;
    font-size: 14px;

    .current {
      border: 1px solid var(--color-primary);
    }
  }

  .sub-next {
    grid-area: next;
    overflow: scroll;
    max-height: 300px;
    font-size: 14px;

    .next {
      border: 1px solid var(--color-secondary);
    }
  }

  .sub-tempo {
    grid-area: tempo;
    padding: 0;
  }
}

body, .body {
  background-color: var(--color-background);
  color: var(--color-writing);
}