div {
  height: 100%;
  padding: 0;
  display: inline-block;
}

.elapsed {
  background-color: var(--color-secondary);
}
.not-elapsed {
  background-color: var(--color-primary);
}
.too-much-elapsed {
  background-color: var(--color-error);
}

.track {
  position: relative;
  top: calc(-100% - 3px);
}