/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --color-background: #000000;
  --color-writing: #ffffff;
  --color-primary: #006ce9;
  --color-secondary: #18b6f6;
  --color-error: #ef0a0a;
}

html, body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body, .body {
  background-color: var(--color-background);
  color: var(--color-writing);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  main {
    flex: 1 1;
    width: 100%;

    section {
      height: 100%;
    }
  }

  > * {
    padding: 0 10px;
  }
}

a.btn {
  text-decoration: none;
  padding: 4px 2px;
  margin: 4px 2px;
  background-color: var(--color-primary);
  border-radius: 4px;
}